.text-area{
    padding:10px;
    color: #ffffff;
    font-size: 18px;
    font-family: "Bree Serif";
    background-color: transparent;
    padding-bottom: 0px;
    transition: border-color 0.3s ease;
     
    border-width: 0px;
    border-radius:4px
}
.text-area:focus {
     border:solid 3px #c07380  ;
     outline: none;
     
     
  }
.form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.username-form{
    display: flex;
    align-items: center;
}
.username-input{
    height: 20px;
    margin-right:20px ;
    
    border-radius: 4px;
    border-color: #3597cf;
    font-family: 'Roboto';
    font-size: 18px;
    padding: 10px;
}
.username-input:focus{
    
     outline: none;
     border-width: 3px;
}
.btn{
    padding: 8px;
    border-radius: 5px;
    background-color: #5fa8d3;
    outline: none;
    color: #ffffff;
    border:none;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: translateZ(0);
    
}
.btn:hover{
    transform: scale(1.05) translateZ(0);
}
.save-btn{
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    font-size: 19px;
    background-color: #5fa8d3;
    outline: none;
    color: #ffffff;
    border:none;
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: translateZ(0);
}
.save-btn:hover{
    transform: scale(1.05) translateZ(0);
}
.available{
    color: rgb(49, 189, 31);
    margin: 0px;
    font-size: 12px;
}
.unavailable{
    color: rgb(255, 1, 1);
    margin: 0px;
    font-size: 12px;
}
.user-input-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:solid 1px red */
}
.username{
    margin-right: 20px;
    font-size: 18px;
    color: #1b1917;
    
}
.save-btn-sm{
    display: none;
}
.save-btn-sm-bg{
    display: flex;
    justify-content: center;
}

.fail-text{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b1917;
}
@media (max-width: 769px){
    .username-form{
        flex-direction: column;
         
        justify-content: center;
        align-items: flex-start;
    }

    .save-btn{
        display: none;
    }
    .save-btn-sm{
        display: block;
        padding: 10px 15px 10px 15px;
        border-radius: 5px;
        font-size: 19px;
        background-color: #5fa8d3;
        outline: none;
        color: #ffffff;
        border:none;
        cursor: pointer;
        transition: transform 0.3s ease;
        transform: translateZ(0);
    }
    .save-btn-sm:hover{
        transform: scale(1.05) translateZ(0);
    }
    .btn{
        margin-top: 10px;
    }
}